// Resets
html {
    box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  ::selection {
    background: $black;
    color: white;
  }

}

h1,h2, h3, h4, p, ul, ol, li, a {
  margin: 0;
  font-family: $text-family;
  color: $black;
}

h1 {
  font-weight: 600;
  font-size: 22px;

  @include mq($desktopScreen) {
    font-size: 40px;
  }
}

h2, h3 {
  font-weight: 500;
  font-size: 20px;

  @include mq($desktopScreen) {
    font-size: 26px;
  }
}

h3 {
  font-size: 18px;
  @include mq($desktopScreen) {
    font-size: 24px;
  }
}

p, ol {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  @include mq($desktopScreen) {
    font-weight: 400;
    font-size: 16px;
  }
}


img {
    max-width: 100%;
    height: auto;
    margin: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

span.bolded {
  font-weight: 600;
}

